h1 {
    font-family: 'Roboto Mono' , monospace;
   
    margin: 0;
    text-align: center;
    color: #404040;
    
}
body {
    margin: 0;
    background-color: #faf7f0;
}

.flex-container{
    display: flex;
    background-color: #bfbfbf;
}